.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A77D4;
      }
  
.li-left {
     float: left;
 }
      
.li-right {
    float: right;
 }
